<?xml version="1.0"?>
<restms xmlns="http://www.imatix.com/schema/restms">
    <feed
       name="{{feed.name}}"
       type="{{feed.type}}"
       title="{{feed.title}}" 
       license="{{feed.license}}"
     />
</restms>
